body {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
}

h1, h2, h3 {
  font-family: "Lucida Bright";
  font-weight: normal;
}

header {
  position: relative;
  margin-bottom: 12px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #999;

  h1 {
    margin: 0;

    a {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  #days-search-form {
    position: absolute;
    top: 10px;
    right: 0;

    form {
      position: relative;

      i {
        position: absolute;
        top: 4px;
        left: 8px;
        color: #999;
      }

      input[type="text"] {
        padding: 5px 10px 3px 26px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 13px;
        color: #666;
      }
    }
  }
}

nav {
  clear: both;
  height: 38px;
  margin-bottom: 20px;

  a {
    padding: 10px 30px;
    font-size: 12px;
    text-decoration: none;
    background-color: #f3f3f3;
    color: #333;
  }

  .link-to-newer {
    float: left;
  }

  .link-to-older {
    float: right;
  }
}

#days-count {
  text-align: right;
  font-size: 12px;
  color: #999;
}

.day-single {
  position: relative;
  margin-bottom: 30px;

  .date {
    padding: 15px;
    background-color: #f3f3f3;
    font-size: 14px;
  }

  .date.saturday {
    color: blue;
  }

  .date.sunday {
    color: red;
  }

  .note {
    padding: 0 15px;
    font-size: 13px;
    color: #666;
  }

  .day-form {
    display: none;

    form {
      .field {
        margin-bottom: 10px;

        textarea {
          box-sizing: border-box;
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          font-size: 13px;
          color: #666;
        }
      }

      .action {
        text-align: right;

        input[type="submit"] {
          -webkit-appearance: none;
          padding: 10px 30px;
          border: 1px solid #ccc;
          font-size: 12px;
          color: #666;
        }
      }
    }
  }

  .editor-opener {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 16px;
    color: #999;
  }
}

.clickable {
  cursor: pointer;
}
